footer {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
  padding: 30px;
  background: #63616157;
  .follow {
    &-via {
      font-size: 14px;
      span {
        color: #000;
      }
      i {
        font-size: 30px;
        margin: $margin;
      }
    }
  }
  span {
    line-height: 20px;
  }
  p {
    text-align: justify;
    margin-top: $padding;
    line-height: 20px;
    font-size: 15px;
  }
  p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .about {
    h4 {
      margin-bottom: $margin;
    }
  }
  .address {
    a {
      color: $buttonbg;
    }
  }
}
@media (max-width: 850px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap:$gap;
  }
  
}
@media (max-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    .about {
      width: 70%;
      span {
        text-align: justify;
      }
    }
    .address {
      width: 70%;
    }
  }
}